/* variables */
:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-blue-drk: hsl(234, 12%, 34%);
  --clr-blue-grayish: hsl(229, 6%, 66%);
  --clr-gray-li: hsl(0, 0%, 98%);
  --ff-base: "Poppins", sans-serif;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

/* base styles */
main {
  background-color: var(--clr-gray-li);
  padding: 80px 34px;
}

.heading {
  text-align: center;
  padding: 0 14rem;
}

.heading p {
  padding-top: 1rem;
}

.card-container {
  margin-top: 72px;
}

.card {
  padding: 32px;
  background-color: #fff;
  border-top: 4px solid;
  border-radius: 6px;
  box-shadow: 0px 15px 17px 3px rgba(0,0,0,0.1);
  height: fit-content;
}

.card-img {
  margin-top: 2rem;
  display: flex;
  justify-content: right;
}

.card-img img {
  width: 3.4rem;
}

.card:not(.card:nth-of-type(4)) {
  margin-bottom: 20px;
}

.card:nth-of-type(1) {
  border-color: var(--clr-cyan);
}

.card:nth-of-type(2) {
  border-color: var(--clr-red);
}

.card:nth-of-type(3) {
  border-color: var(--clr-orange);
}

.card:nth-of-type(4) {
  border-color: var(--clr-blue);
}

.card img {
  
}

/* fonts */
body {
  font-family: var(--ff-base);
  color: var(--clr-blue-drk);
}

h1,
h2 {
  font-size: 1.5rem;
}

.heading p {
  font-size: 0.9rem;
  line-height: 1.7;
}

.card p {
  font-size: 0.8rem;
}

h2,
.card p {
  font-weight: 200;
}

p {
  color: var(--clr-blue-grayish);
}



/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
  body {
    font-size: 1.6rem;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {}

/* desktop styles */
@media screen and (min-width: 1000px) {
  body {
    font-size: 1.6rem;
  }

  main {
    height: 100vh;
    padding: 80px 100px;
  }

  h1,
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.1rem ;
  margin-bottom: 10px;
}


  .card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 35px;
    grid-template-areas:
          ". . two two . ."
      "one one two two four four"
      "one one three three four four"
          ". . three three . .";
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }
}